librosa==0.11.0
matplotlib==3.10.1
numpy==2.2.5
PyYAML==6.0.2
scipy==1.15.2
soundfile==0.13.1
tqdm==4.67.1
transformers==4.51.3

# RECOMMENDED: install torch manually. Environment used: Python 3.11
#torch==2.6.0+cu124
#torchaudio==2.6.0+cu124
